{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center w-100">Bonjour</h1>
    <p>
        J'ai le plaisir de vous annoncer que {{ user }},
        vous invitez a rejoindre ce groupe
        "<strong>{{ groupName }}</strong>"
    </p>
    <p> N'hésitez plus, cliquer sur ce lien pour s'inscrire et pouvoir accéder au groupe. </p>
    <a href="{{ url }}">Cliquer s'incrire</a>
{% endblock %}