{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center w-100">Bonjour {{ user }}</h1>
    <p>
        {{ userAdmin }} vous a ajouté au groupe <strong>{{ groupName }}</strong>
    </p>
{#    <a href="{{ url }}">Cliquer pour confirmer invitation</a>#}
{% endblock %}